@charset "utf-8";

#wrap{
    overflow-x: hidden;
}
/* lottiefiles.com */
/* 공통영역 */
.container{
    width: 100vw;
    height: 100vh;
    background-color: #FEFEFD;
}
.header{
    width: 100vw;
    height: 97px;
    border-bottom: 2px solid #24211E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FEFEFD;
    position: absolute;
    z-index: 999;
}
.header .logo{
    width: 357px;
    height: 30px;
    padding-left: 5.729%;
}

/* 배너 */

.banner .container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #FEFEFD;
    padding: 55px 94px;
    box-sizing: border-box;
}
.banner-wrap{
    width: 100%;
    height: 100%;
    border: 2px solid #24211E;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.l-box{
    width:43.129%;
    height: 100%;
}
.mask{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.banner-slide{
    width: 100%;
    height: 400%;  
    flex-wrap: wrap;
    animation: slide 20s ease-in-out infinite;
    transition: all 0.5s;
}
.banner-slide .img{
    width: 100%;
    height: 25%;
}
.banner-slide .img img{
    object-fit: contain;
}
/* 배너슬라이드 */
@keyframes slide {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-25%);
    }
    50%{
        transform: translateY(-50%);
    }
    75%{
        transform: translateY(-75%);
    }
    100%{
        transform: translateY(-100%);}
}
.banner-wrap .logo{
    width: 7.043%;
    height: 100%;
    border: 2px solid #000;
    position: absolute;
    top: -2px;
    left: 43.129%;
}
.r-box{
    width: 49.595%;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
}

.r-box .hamburger{
    display: inline-block;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 3.092%;
    right: 7.567%;
    z-index: 999;
}
.r-box .hamburger span{
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #24211E;
}
.r-box .hamburger span:first-child{
    top: 0;
}
.r-box .hamburger span:last-child{
    top: 100%;
}






.r-box .ca-top{
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
}
.r-box .catagory{
    text-align: center;
    padding-top:150px;
}
.r-box .catagory img{
    display: none;
}
.r-box .catagory img.active{
    display: block;
}
.r-box .catagory li:nth-child(1) img{
    width: 200px;
    height: 12px;
    position: absolute;
    bottom: 0;
    left: -40%;
}
.r-box .catagory li:nth-child(2) img{
    width: 350px;
    height: 20px;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.r-box .catagory li:nth-child(3) img{
    width: 300px;
    height: 20px;
    position: absolute;
    bottom: -10px;
    left: 0;
}
.r-box .catagory li:nth-child(4) img{
    width: 300px;
    height: 20px;
    position: absolute;
    bottom: -10px;
    left: -26px;
}
.r-box .catagory li{
    margin-bottom: 13px;
}
.r-box .catagory li:last-child{
    margin-bottom: 0;
}
.r-box .catagory a{
    font-size: 3.75rem;
    font-weight: bold;
    position: relative;
}

/* 콘센트 */
.con-box{
    width: 843px;
    height: 400px;
    position: absolute;;
    bottom:0;
    padding: 0 9px 13px 9px;   
    z-index: 99;
}
.con-box .con-l{
    width: 284px;
    height: 284px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px 0 60px 138px;
    z-index: 9;
}
.con-box .con-r{
    width: 284px;
    height: 284px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 60px 111px 60px 0;
    z-index: 9;
}
.r-box .op-cl-l{
    position: absolute;
    width: 284px;
    height: 786px;
    bottom: 0;
    left: 138px;
    z-index: 99;

}
.r-box .op-cl-l .open{
    width: 284px;
    height: 378.74px;
    position: absolute;
    bottom: 413px;
    left: -9px;
    display: none;
}
.r-box .op-cl-l .close{
    position: absolute;
    width: 284px;
    height: 408px;
    bottom: 6px;
    left: 0px;
}

.r-box .op-cl-r{
    position: absolute;
    bottom: 0;
    right:108px;
    z-index: 99;
    width: 284px;
    height: 786px;
}
.r-box .op-cl-r .open{
    width: 284px;
    height: 378.74px;
    position: absolute;
    bottom: 413px;
    left: -9px;
    display: none;
}
.r-box .op-cl-r .close{
    position: absolute;
    width: 284px;
    height: 408px;
    bottom: 6px;
    left: 0px;
}
.open.active{
    display: block;
}
.close.active{
    display: none;
}


/* 슬라이드 메뉴 */
.slide-menu{
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #FEFEFD;
    display: flex;
    top: 0;
    right: -100vw;
    transition: 0.5s;
    position: fixed;
    /* display: none; */
}
.slide-menu.active{
    right: 0;
}
.slide-menu .hamburger{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: fixed;
    /* top: 7.407%;
    right: 7.812%; */
    top: 4.07%;
    right: 6.512%;
    z-index: 9999;
    display: none;
}
.slide-menu .hamburger.on{
    display: block;
}
/* .slide-menu .hamburger.active{
    top: 4.07%;
    right: 4.812%;
} */
.slide-menu .hamburger span{
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #24211E;
}
.slide-menu .hamburger span:first-child{
    top: 50%;
    transform: rotate(45deg);
}
.slide-menu .hamburger span:last-child{
    top: 50%;
    transform: rotate(-45deg);
}

.menu-wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10.149%;
    box-sizing: border-box;
}

.slide-menu .menu-l li{
    margin-bottom: 22px;
}
.slide-menu .menu-l a{
    font-size: 128px;
    font-weight: bold;
}
.slide-menu .menu-r{
    margin-top: 514px;
}
.slide-menu .menu-r a{
    font-size: 30px;
}

.banner .header{
    width: 100vw;
    height: 97px;
    border-bottom: 2px solid #24211E;
    background-color: #FEFEFD;
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.banner .header .logo{
    width: 47.333%;
    height: auto;
}
.banner .header .logo a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.banner .header .logo a svg{
    width: 100%;
}
.banner .header .hamburger{
    width: 30px;
    height: 20px;
    position:absolute;
    display: inline-block;
    top: 40.404%;
    right: 0;
    padding-right: 7.812%;
    z-index: 9999;
}
.banner .header .hamburger span{
    width: 30px;
    height: 3px;
    background-color: #24211E;
    position: absolute;
    top: 50%;
    left: 0;
}
.banner .header .hamburger span:first-child{
    top: 0;
}
.banner .header .hamburger span:last-child{
    top: 100%;
}


/* sec-1 */
.sec-1 .container{
    position: relative;
}
.sec-1 .back{
    background-image: url(../img/sec-1-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1700px;
    height: 981px;
    position: absolute;
    top: 99px;
    left: 50%;
    transform: translateX(-50%);
}

.sec-1 .hamburger{
    width: 30px;
    height: 20px;
    position:absolute;
    display: inline-block;
    top: 40.404%;
    right: 150px;
    z-index: 9999;
}
.sec-1 .hamburger span{
    width: 30px;
    height: 3px;
    background-color: #24211E;
    position: absolute;
    top: 50%;
    left: 0;
}
.sec-1 .hamburger span:first-child{
    top: 0;
}
.sec-1 .hamburger span:last-child{
    top: 100%;
}
.light-1{
    width: 44.218%;
    height: 100% ;
    margin-left: 110px;
    float: left;
    position: relative;
}
.light-1 .lamp-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.light-1 .lamp-1 a{
    display: inline-block;
    height: 784px;
    width: 588px;
    position: absolute;
    top: 0;
    left: 14.812%;
    z-index: 99;
}
.light-1 .lamp-1 .light{
    position: absolute;
    top: 10%;
    left: 7.812%;
    width: 714px;
    height: 714px;
    z-index: 1;
    display: none;
}
.light-1 .lamp-1 .light.on{
    display: block;
}
.light-1 .txt-1{
    position: absolute;
    bottom: 104px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.txt-1 p,.txt-1 span{
    font-size: 16px;
    font-weight: bold;
}
.light-2{
    width: 37.218%;
    height: 100% ;
    margin-right: 100px;
    float: right;
    position: relative;
}
.light-2 .lamp-2{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.light-2 .lamp-2 a{
    display: inline-block;
    height: 628px;
    width: 460px;
    position: absolute;
    top: 0;
    right: 21.416%;
    z-index: 99;
}

.light-2 .lamp-2 .light{
    position: absolute;
    top: 9.722%;
    right: 30px;
    width: 714px;
    height: 714px;
    z-index: 9;
    display: none;
}
.light-2 .lamp-2 .light.on{
    display: block;
}
.light-2 .txt-2{
    position: absolute;
    bottom: 104px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}
.txt-2 p,.txt-2 span{
    font-size: 16px;
    font-weight: bold;
}


/* 조명호버 */
.light-1 .ani{
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 9;
    display: none;
}
.light-1 .ani.on{
    display: block;
}
.light-1 .ani .poy{
    width: 634px;
    height: 450px;
    position: absolute;
    top: 27%;
    left: 10%;
    display: flex;
    justify-content: space-between;
    animation:rotate 60s linear infinite;
}
.poy .poy-1{
    width: 215px;
    height: 311px;
    animation:rotate 20s reverse infinite;
}
.poy .poy-2{
    width: 206px;
    height: 321px;
    animation:rotate 15s linear infinite;
}




.light-2 .ani{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 12%;
    z-index: 99;
    display: none;
}
.light-2 .ani.on{
    display: block;
}
.light-2 .ani .over{
    width: 105px;
    height: 129px;
    position: absolute;
    top: 30%;
    left: 20%;
    animation: st 1s steps(2) infinite;
}
.light-2 .ani .elli-1{
    width: 695px;
    height: 503px;
    position: absolute;
    top: 19.5%;
    left: 7%;
    animation: rotate 10s reverse infinite;
}
.light-2 .ani .elli-2{
    width: 465px;
    height: 480px;
    position: absolute;
    top: 19%;
    left: 21%;
    animation: rotate 10s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(360deg);
    }
}
@keyframes st {
    0%{
        transform: scale(0);
    }

    100%{
       transform: scale(1.5);
    }
}


/* sec-2 */
.sec-2 .container{
    position: relative;
}
.sec-2 .hamburger{
    display: inline-block;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 40.404%;
    right: 150px;
    z-index: 999;
}
.sec-2 .hamburger span{
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #24211E;
}
.sec-2 .hamburger span:first-child{
    top: 0;
}
.sec-2 .hamburger span:last-child{
    top: 100%;
}
.sec-2 .back{
    background-image: url(../img/sec-2-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1700px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.sec-2 a{
    display: inline-block;
}
.sec-2 .poster{
    width: 237px;
    height: 342.5px;
    position: absolute;
    top: 114px;
    left: 139px;
    z-index: 99;
    transition: 0.5s;
}
.poster:hover{
    animation: poster 1s linear;
}
@keyframes poster {
    0%{
        transform: rotate(15deg);
    }
    25%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0);

    }

}
.sec-2 .emo{
    width: 174px;
    height: 203px;
    position: absolute;
    bottom: 26.666%;
    left: 15.052%;
    z-index: 999;
    transition: 0.5s;
}
.emo:hover{
    animation:  emo 3s ease-in-out;

}
@keyframes emo {
    0%{
        transform: rotate(30deg);
    }
    25%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0);
    }
}
.sec-2 .table{
    width: 382px;
    height: 490px;
    position: absolute;
    bottom: 4.907%;
    left: 12.822%;
    z-index: 99;
    transform: rotate3d(20deg);
}
.sec-2 .table:hover{
    animation: table 3s ease-in-out;
}
@keyframes table {
    0%{
        transform: rotate(15deg);
    }
    25%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0);
    }
}
.sec-2 .chair{
    width: 334px;
    height: 423px;
    position: absolute;
    bottom:8.611%;
    left: 23.51%;
    z-index: 9;
}
.sec-2 .chair:hover{
    animation: chair 3s ease-out;
}
@keyframes chair{
    0%{
        transform: rotate(30deg);
    }
    25%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0);
    }
}
.sec-2 .rug{
    width: 448px;
    height: 218px;
    position: absolute;
    bottom: 4.537%;
    right:21.302%;
    z-index: 999;
}
.sec-2 .rug:hover{
    animation: rug 1.5s ease-in ;

}
@keyframes rug {
    0%{
        bottom: 4.537%;
    }
    50%{
        bottom: 30%;
    }
    100%{
        bottom: 4.537%;
    }
}
.sec-2 .light{
    width: 431px;
    height: 735px;
    position: absolute;
    top: 0;
    left: 32.656%;
    z-index: 99;
}
.sec-2 .light-over{
    width: 714px;
    height: 714px;
    position: absolute;
    top:7.87%;
    left: 25.729%;
    z-index: 9;
    display: none;    
}
.sec-2 .light-over.active{
    display: block;
}
.sec-2 .hanger{
    width:240px ;
    height: 140px;
    position: absolute;
    top: 19.907%;
    right: 36.041%;
    z-index: 9;
}
.sec-2 .hanger:hover{
    animation: hanger 3s ease-out;
}
@keyframes hanger{
    0%{
        transform: rotate(30deg);
    }
    25%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0);
    }
}
.sec-2 .door-back{
    width: 214px;
    height: 645px;
    position: absolute;
    top: 17.962%;
    right: 23.854%;
    z-index: 9;

}
.sec-2 .door{
    width:218px;
    height: 644.5px;
    position: absolute;
    top: 17.962%;
    right: 23.854%;
    z-index: 99;
}
.sec-2 .door.active{
    opacity: 0;
}
.sec-2 .door-op{
    width:215px;
    height: 644.5px;
    position: absolute;
    top: 17.962%;
    right: 34.791%;
    z-index: 99;
    display: none;
}
.sec-2 .door-op.active{
    display: block;
}
/* .sec-2 .knock-1{
    width:182.6px;
    height: 181.39px;
    position: absolute;
    top: 39.814%;
    right: 32.291%;
    z-index: 999;
}
.sec-2 .knock-2{
    width:182.6px;
    height: 181.39px;
    position: absolute;
    top: 39.814%;
    right: 32.291%;
    z-index: 999;
} */
.sec-2 .knock.active{
    display: none;
}
.sec-2 .knock-1{
    width:129px;
    height: 90px;
    position: absolute;
    top: 39.814%;
    right: 32.291%;
    z-index: 999;
    animation: knock 1s steps(2)  infinite;
}
.sec-2 .knock-2{
    width: 90px;
    height: 36px;
    position: absolute;
    top: 50.814%;
    right: 32.291%;
    z-index: 999;
    animation: knock2 1s steps(2)  infinite;
}
.sec-2 .knock-3{
    width: 120px;
    height: 90px;
    position: absolute;
    top: 46.814%;
    right: 34.291%;
    z-index: 999;
    animation: knock3 1s steps(2)  infinite;
}
@keyframes knock {
    0%{
        transform: rotate(270deg);
        top: 50.814%;
    }
    100%{
        transform: rotate(-270deg);
        top: 20.814%;
    }
    
}
@keyframes knock2 {
    0%{
        transform: rotate(45deg);
        top: 39.814%;
    }
    100%{
        transform: rotate(-45deg);
        /* top: 39.814%; */
    }
    
}
@keyframes knock3 {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(0);
    }
    
}
.sec-2 .clock{
    width:331px;
    height: 236px;
    position: absolute;
    bottom: 18.888%;
    right: 23.958%;
    z-index: 9999;
    display: none;
    animation: clock 1s forwards;
}
.sec-2 .clock.active{
    display: block;
}
@keyframes clock {
    0%{
        bottom: 18.888%;
    }
    50%{
        bottom: 27%;
    }
    100%{
        bottom: 18.888%;
    }
}

.sec-2 .mirror{
    width: 275px;
    height: 603px;
    position: absolute;
    bottom: 22.407%;
    right: 8.437%;
    transition: 0.5s;
}
.sec-2 .mirror:hover{
    animation: mir 3s ease-in-out;
}
@keyframes mir {
    0%{
        transform: rotate(15deg);
    }
    25%{
        transform: rotate(-15deg);
    }
    50%{
        transform: rotate(15deg);
    }
    100%{
        transform: rotate(0);
    }
}




/* sec-3 */
.sec-3 .container{
    background-image: url(../img/sec-3-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sec-3 .hamburger{
    display: inline-block;
    width: 30px;
    height: 20px;
    position: absolute;
    top: 25px;
    right: 150px;
    z-index: 999;
}
.sec-3 .hamburger span{
    width: 30px;
    height: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: #24211E;
}
.sec-3 .hamburger span:first-child{
    top: 0;
}
.sec-3 .hamburger span:last-child{
    top: 100%;
}
.sec-3 .contents{
    width: 88.541%;
    height:100vh;
    border-right:2px solid #24211E ;
    border-left: 2px solid #24211E;
    background-color: #FEFEFD;
    margin:0 110px;
    padding-top: 9.222%; 
    box-sizing: border-box;
}

.sec-3 li{
    width: 100%;
    height: 180px;
}
.sec-3 .con a{
    display: inline-block;
    font-size: 128px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 142px;
    width: 900px;
    overflow: hidden;
    position: absolute;
}
.sec-3 .con a img{
    width: 4500px;
    height: 180px;
    position: absolute;
    top: 0;
    left: -290px;
    animation: move 1s steps(5) infinite;
    display: none;
}
.sec-3 .con a .font.active{
    display: block;
}
    @keyframes move {
    0%{
        left:0;
    }
    100%{
        left:-4500px;

    }
}
.sec-3 .con.active{
    background-color: #24211E;
}

.con:last-child{
    margin-bottom: 0;
}





/* 푸터 */
.footer .container{
    background-color: #24211E;
    height: auto;
}
.footer p , .footer span{
    color: #FEFEFD;
    font-size: 14px;
    font-weight: 300;
}
.footer .f-top p{
    font-weight: bold;
    margin-bottom: 22px;
}
.f-top span{
    margin-bottom: 13px;
}
.f-top{
    width: 1560px;
    /* height: 130px; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 95px 180px;
}
.info{
    width: 216px;
    height: 130px;
    display: flex;
    flex-direction: column;
}
.guide{
    width: 216px;
    height: 130px;
    display: flex;
    flex-direction: column;
}
.contact{
    width: 216px;
    height: 130px;
    display: flex;
    flex-direction: column;
}
.customer{
    width: 216px;
    height: 130px;
    display: flex;
    flex-direction: column;
}
.sns{
    width: 220px;
    height: 130px;
    /* display: flex;
    flex-direction: column; */
}
.sns a{
    display: inline-block;
    width: 39px;
    height: 39px;
    margin-bottom: 10px;
    }
.sns span{
    padding-top: 10px;
    float: right;
}
.num{
    width: 287px;
    height: 130px;
    margin-left: 188px;
    padding-top: 65px;
}
.f-top .num p{
    font-weight: normal;
}
.f-b{
    width: 100vw;
    height: 178px;
    border-top: 1px solid #FEFEFD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 65px 148px 65px 180px;
    box-sizing: border-box;
}
.f-b .f-txt p:first-child{
    margin-bottom: 13px;
}

.footer .f-logo{
width: 355px;
height: 30px;
}



#tab{
    display: none;
}





/* 미디어쿼리 */
@media (max-width:1800px){
    /* 배너 */
    .con-box{
        display: none;
    }
    .op-cl-l, .op-cl-r{
        display: none;
    }
    .ca-top{
        display: none;
    }
    .r-box .catagory{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-top: 0;
    }
    
}

@media (max-width:1680px){
    .section.sec-1,.section.sec-2,.section.sec-3,.footer{
        display: none;
    }
    #tab{
        display: block;
        width: 100%;
        height: 100%;
        overflow-x:hidden ;
    }
    .sec{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .sec .header{
        width: 100vw;
        height: 97px;
        border-bottom: 2px solid #24211E;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FEFEFD;
        position: absolute;
        z-index: 999;
        
    }
    .sec .header.active{
        position: fixed;
        top: 0;
        left: 0;
    }
    .sec .header .logo{
        width: 357px;
        height: 30px;
        padding-left: 5.729%;
    }
    .sec .hamburger{
        display: inline-block;
        width: 30px;
        height: 20px;
        position: absolute;
        top:36.404%;
        right: 0;
        z-index: 999;
        padding-right:7.812% ;
    }
    .sec .hamburger span{
        width: 30px;
        height: 3px;
        position: absolute;
        top: 50%;
        left: 0;
        background-color: #24211E;
    }
    .sec .hamburger span:first-child{
        top: 0;
    }
    .sec .hamburger span:last-child{
        top: 100%;
    }
    .sec .menu{
        width: 100vw;
        /* height: 100px; */
        background-color: #FEFEFD;
        border-bottom: 2px solid #24211E;
        position: absolute;
        top: 99px;
        left: 0;
    }
    .sec .menu-box{
        width: 63.333%;
        margin: 0 auto;
        padding: 30px 0;
    }
    .sec .menu ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    .sec .main{
        padding: 0 100px;
        margin-bottom: 20px;
        font-weight: 500;
    }
    .sec .main li{
        margin-right: 25px;
    }
    .sec .main li:last-child{
        margin-right: 0;
    }
    .sec .container{
        width: 100%;
        height: 100%;
    }
    .sec .container a{
        display: inline-block;
    }
    .menu a:hover{
        border-bottom: 2px solid #24211E;
    }
    .sec .container{
        width: 1400px;
        height: 100%;
        border-left:2px solid #24211E;
        border-right: 2px solid #24211E;
        margin: 0 auto;
        
    }
    .sec .container .head{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 11.111%;
    }
    /* .sec .img-box{
        width: 100%;
        height: 100%;
    } */
    .sec .img-box p{
      font-size: 1.875rem;
      text-align: center;
      white-space: nowrap;
      cursor: pointer;
      margin-top: 20px;
    }
    .con-1{
        width:1203px;
        height: 670px;
        margin: 0 auto;
        padding-top: 387px;
    }
    .con-1 .img-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 497px;
    }
    .img-1{
        width: 580px;
    }
    .img-1 .img{
        width: 100%;
        height: 440px;
    }
    .img-2{
        width: 374px;
        margin-right: 75px;
    }
    .img-2 .img{
        width: 100%;
        height: 440px;
    }

    .con-2{
        width:1203px;
        height: 1789px;
        margin: 0 auto;
        padding-top: 250px;
    }
    .con-2 .img-box{
        width: 100%;
        height: 1620px;
        position: relative;
    }
    .img-3{
        width: 491px;
    }
    .img-3 .img{
        width: 100%;
        height: 623px;
    }
    .img-4{
        width: 491px;
        position: absolute;
        top: 100px;
        right: 0;
    }
    .img-4 .img{
        width: 100%;
        height: 623px;
    }
    .img-5{
        width: 491px;
        margin-top: 14.814%;
    }
    .img-5 .img{
        width: 100%;
        height: 623px;
    }
    .img-6{
        width: 491px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .img-6 .img{
        width: 100%;
        height: 623px;
    }



    .con-3{
        width:1203px;
        height: 666px;
        margin: 0 auto;
        padding-top: 250px;
    }
    .con-3 .img-box{
        width: 100%;
        height: 497px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .img-7{
        width: 347px;
    }
    .img-7 .img{
        width: 100%;
        height: 440px;
    }
    .img-8{
        width: 347px;
    }
    .img-8 .img{
        width: 100%;
        height: 440px;
    }
    .img-9{
        width: 347px;
    }
    .img-9 .img{
        width: 100%;
        height: 440px;
    }


    .con-4{
        width:1203px;
        height: 1053px;
        margin: 0 auto;
        padding-top: 250px;
    }
    .con-4 .img-box{
        width: 770px;
        height: 81.851%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .img-10{
        width: 350px;
        margin: 0 70px 70px 0;
    }
    .img-10 .img{
        width: 100%;
        height: 350px;
    }
    .img-11{
        width: 350px;
    }
    .img-11 .img{
        width: 100%;
        height: 350px;
    }
    .img-12{
        width: 350px;
        margin-right: 70px;
    }
    .img-12 .img{
        width: 100%;
        height: 350px;
    }
    .img-13{
        width: 350px;
    }
    .img-13 .img{
        width: 100%;
        height: 350px;
    }

    .con-5{
        width:1203px;
        height: 666px;
        margin: 0 auto;
        padding-top: 250px;
    }
    .con-5 .img-box{
        width:100%;
        height: 46.018%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .img-14{
        width: 347px;
        height: 497px;
    }
    .img-14 .img{
        width: 100%;
        height: 440px;
    }
    .img-15{
        width: 347px;
        height: 497px;
    }
    .img-15 .img{
        width: 100%;
        height: 440px;
    }
    .img-16{
        width: 347px;
        height: 497px;
    }
    .img-16 .img{
        width: 100%;
        height: 440px;
    }
    .con-6{
        width:1203px;
        height: 666px;
        margin: 0 auto;
        padding-top: 250px;
    }
    .con-6 .img-box{
        width:100%;
        height: 46.018%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .img-17{
        width: 347px;
        height: 497px;
    }
    .img-17 .img{
        width: 100%;
        height: 440px;
    }
    .img-18{
        width: 347px;
        height: 497px;
    }
    .img-18 .img{
        width: 100%;
        height: 440px;
    }
    .img-19{
        width: 347px;
        height: 497px;
    }
    .img-19 .img{
        width: 100%;
        height: 440px;
    }

    .con-7{
        width:1203px;
        height: 666px;
        margin: 0 auto;
        padding-top: 250px;
        padding-bottom: 27.777%;
    }
    .con-7 .img-box{
        width:100%;
        height: 46.018%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .img-20{
        width: 347px;
        height: 497px;
    }
    .img-20 .img{
        width: 100%;
        height: 440px;
    }
    .img-21{
        width: 347px;
        height: 497px;
    }
    .img-21 .img{
        width: 100%;
        height: 440px;
    }
    .img-22{
        width: 347px;
        height: 497px;
    }
    .img-22 .img{
        width: 100%;
        height: 440px;
    }


    /* 푸터 */
    footer{
        width: 100%;
        /* height: 1500px; */
        background-color: #24211E;
        padding: 7.019% 9.866%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    footer p , footer span{
        color: #FEFEFD;
        font-size: 14px;
        font-weight: 300;
    }
    footer .footer-top p{
        font-weight: bold;
        margin-bottom: 22px;

    }
    .footer-top span{
        margin-bottom: 13px;
    }
    .footer-top{
        width: 100%;
        /* height: 130px; */
        /* box-sizing: border-box; */
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .footer-top div{
        border-top: 1px solid #FEFEFD;
        /* padding: 4.509% 0; */
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-top div:last-child{
        border-bottom: 1px solid #FEFEFD;
    }
    .sns a{
        display: inline-block;
        width: 39px;
        height: 39px;
        margin-bottom: 10px;
        }
    .sns span{
        padding-top: 10px;
        float: right;
    }
    .num{
        width: 744px;
        height: 130px;
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }
    .footer-top .num p{
        font-weight: normal;
    }
    .footer-b{
        width: 100%;
        height: 178px;
    }
    .footer-b .f-txt{
        width: 100%;
        margin: 0 auto;
    }
    footer .f-logo{
        width: 375px;
        height: 30px;
        margin: 0 auto;
        padding-top: 50px;
    }
    
}









@media (max-width:1400px){
    .sec .container{
        border: none;
        width: 89vw;
    }
    .sec .container > div{
        width: 100%;
        height: 100%;
        padding-top: 23.148%;
    }
    /* .sec .img-box p{
        font-size: 16px;
    } */
    .con-1 .img-box {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }
    .img-1{
        width: 100%;
    }
    .img-2{
        width: 100%;
        margin-right: 0;
        margin-top: 50px;
    }
    
    .con-2 .img-box {
        width: 100%;
        height: 100%;
    }
    .img-3{
        width: 43.466%;    
    }
    .img-3 .img{
        height: 100%;
    }
    .img-4{
        width: 43.466%;
        top: 0;    
    }
    .img-4 .img{
        height: 100%;
    }
    .img-5{
        width: 43.466%;    
    }
    .img-5 .img{
        height: 100%;
    }
    .img-6{
        width: 43.466%;    
    }
    .img-6 .img{
        height: 100%;
    }

  
    .con-3 .img-box{
        margin-right: -25px;
    }
    .img-7,.img-8,.img-9{
        width: calc(33.333% - 25px);
    }
    .img-7 .img,.img-8 .img,.img-9 .img{
        height: 100%;
    }

    .img-10, .img-11, .img-12, .img-13{
        width: calc(50% - 25px);
        margin: 0;
    }
    .img-10, .img-11{
        margin-bottom: 25px;
    }

    .img-14,.img-15,.img-16{
        width: calc(33.333% - 30px);
        height: 100% ;
    }

    .img-14 .img,.img-15 .img,.img-16 .img{
        height: 100%;
    }
    .img-17,.img-18,.img-19{
        width: calc(33.333% - 30px);
        height: 100%;
    }

    .img-17 .img,.img-18 .img,.img-19 .img{
        height: 100%;
    }
    .img-20, .img-21, .img-22{
        width: calc(33.333% - 30px);
        height: 100%;
    }
    .img-20 .img,.img-21 .img,.img-22 .img{
        height: 100%;
    }
}
@media(max-width:935px){
    .banner .container{
        padding: 0;
    }
    .banner-wrap{
        border: none;
        height: calc(100% - 99px);
        top: 99px;
        left: 0;
    }
    .banner-wrap .l-box{
        width: 100%;
    }
    .banner-wrap .r-box{
        display: none;
    }
    .banner-wrap .logo{
        display: none;
    }
    .banner .header{
        display: flex;
    }
    .slide-menu{
        width: 100vw;
        background-color: rgba(36, 33, 30, 0.3);
    }
    .menu-wrap{
        width: 67vw;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        background-color: #fefdfe;
        position: absolute;
        top: 0;
        right: 0;
    }
    .slide-menu .menu-l a {
        font-size: 1.125rem;
    }
    .slide-menu .menu-r a {
        font-size: 16px;
        font-weight: 500;
    }
    .slide-menu .menu-r {
        margin-top: 0;
    }
    .sec .img-box p{
        font-size: 16px;
    }
    .sec .header .logo{
        width: 47.333%;
        height: auto;
    }

    .sec .container > .con-1{
        padding-top: 40.148%;
    }
    .con-3 .img-box{
        height: auto;
    }
    .img-10 .img,.img-11 .img,.img-12 .img,.img-13 .img{
        height: auto;
    }
    
    .con-4 .img-box{
        width: 100%;
    }
    .img-10, .img-11, .img-12, .img-13{
        width: calc(50% - 25px);
        margin: 0;
    }
    .img-10, .img-11{
        margin-bottom: 25px;
    }
    

    footer .footer-top p {
        font-size: 12px;
    }
    footer p, footer span{
        font-size: 12px;
    }
    footer p{
        font-size: 11px;
    }
    .footer-top div{
        height: auto;
        padding: 4.509%;
    }
    .footer-b .f-txt{
        text-align: center;
    }
    .num{
        width: 100%;
        height: auto;
        padding: 4.679% 0;
        text-align: center;
        display: block;
    }
    footer .f-logo{
        width: 100%;
        height: auto;
    }
}
@media (max-width:749px){
    /* .slide-menu{
        width: 100vw;
        background-color: rgba(36, 33, 30, 0.3);
    } */
    .sec .menu-box {
        width: 80%;
    }
    .sec .main{
        padding: 0;
    }
    .sec .menu ul{
        justify-content: center;
    }
    .sec .sub li {
        margin-right: 20px;
    }
    .sec .container h1{
        font-size: 16px; 
    }
    .img-7,.img-8,.img-9{
        width: calc(33.333% - 4px);
    }
    .img-10 .img,.img-11 .img,.img-12 .img,.img-13 .img{
        height: auto;
    }
    .img-14,.img-15,.img-16{
        width: calc(33.333% - 4px);
    }
    .img-14 .img,.img-15 .img,.img-16 .img{
        height: auto;
    }
    .img-17,.img-18,.img-19{
        width: calc(33.333% - 4px);
    }
    .img-20,.img-21,.img-22{
        width: calc(33.333% - 4px);
    }
}
@media (max-width:500px){
    .sec .container{
        padding-top:30% ;
    }
    .sec .img-box p {
        font-size: 14px;
    }
    .sec .sub {
        flex-wrap: wrap;
    }
    .sec .sub li:nth-child(4),.sec .sub li:last-child{
        margin-right: 0;
    }
    .sub li a{
        font-size: 14px;
    }
    .sec .head p {
        font-size: 11px;
    }
    .con-3 .img-box{
        align-items: flex-start;  
    }
    .sec .img-box p{
        white-space: normal;
    }
    .slide-menu .menu-r a {
        font-size: 11px;
    }
    
}
